

.input_line {
    fill: none;
    stroke: lightgray;
    stroke-width: 2;
}

.output_line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.teaser_line {
    fill: none;
    stroke: #4e79a7;
    stroke-width: 3;
}

.regression {
    stroke-width: 5px;
    fill: none;
}

.orig_fig_filter {
    stroke: #888888;
    stroke-width: 3;
    fill: none;
}

.dataset_fig_lines {
    stroke: #777777;
    stroke-width: 3;
    fill: none;
}

.page {
	display: table;
	width: 100%;
}
.page-content{
	display: table-cell;
	padding: 20px;
}
.sidebar {
	display: table-cell;
	width: 255px;
	min-width: 255px;
	padding: 20px;
	vertical-align: top;
}

.rankspan{
    text-align: left;
    float: left;
    width: 145px;
    line-height: 1.1;
    padding-top: 5px;
    padding-left: 5px;
}

.rankspan2{
    text-align: left;
    float: left;
    width: 165px;
    line-height: 1.1;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.rankbox{
    width: 16px;
    height: 16px;
    display: inline-block;
}

.ranklabel{
    height: 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    padding-left: 4px;
    padding-top: 1px;
}

.ranktext{
    text-align: center;
    width: 100%;
    display: inline-block;
}

.checkmark-container {
  display: block;
  /*width: 230px;*/
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}












